[submodule "gropius-backend"]
	path = gropius-backend
	url = ../gropius-backend
[submodule "gropius-frontend"]
	path = gropius-frontend
	url = ../gropius-frontend
[submodule "gropius-login-service"]
	path = gropius-login-service
	url = ../gropius-login-service
